.tous-columns{
  margin: 0%;
}


  .tous-columns-modules{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
  }
 .tous-columns-modules-body{
  text-align: center;
   color: #202124;
   font-size: 12px;
 }
 .tous-columns-modules-titre{
     text-align: center;
    font-size: 40px;
 }
 img{
    height: 40%;
    width: 40%;
    margin-left: 25%;
 }
 h1{
  font-size: 30px;
 }
 