<section class="tous-columns" style="background-color: #a04375; height: 700px;">
  <div class="tous-columns-content">
    <div class="tous-columnst-titre ">
      <h1 style="text-align: center; color:#162338;"><br><br><strong>EN SAVOIR PLUS</strong> </h1>
    </div>
    <div class="tous-columns-modules">
      <div class="row">
        <div class="col-md-4">
          <div class="tous-columns-modules-item">
            <div class="tous-columns-modules-image" >
              <img src="https://domains.google/static/images/exports/08-24-2020/website-design-icon-2.svg" aria-hidden="true" >
            </div>
            <br>
            <div class="tous-columns-modules-text">
              <div class="tous-columns-modules-titre">
                <h1>L'Objectif de laboratoire </h1>
              </div>
              <div class="tous-columns-modules-body">
                <p>L'objectif  est de créer un environnement
                   propice à la recherche indépendante,
                    à l'épanouissement académique et à
                     la réussite des travaux de thèse.
                      LRIT vise à accompagner les thésards 
                      tout au long de leur parcours, en leur 
                      offrant un soutien technique, méthodologique et
                       administratif pour mener à bien leurs recherches
                        et favoriser leur développement en tant que chercheurs
                         autonomes.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="tous-columns-modules-item">
            <div class="tous-columns-modules-image">
              <img src="https://domains.google/static/images/exports/08-24-2020/website-design-icon-1.svg" aria-hidden="true" style="height: 50%;width: 50%;">
            </div>
            <div class="tous-columns-modules-text">
              <div class="tous-columns-modules-titre">
                <h1>Bourses et Financement</h1>
              </div>
              <div class="tous-columns-modules-body">
                <p>Le laboratoire finance les thèses 
                  de thésards à partir des bourses et
                   des collaborations spécifiques destinées
                    au de troisième cycle qui effectue leur 
                    recherche au sein de notre université.

                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="tous-columns-modules-item">
            <div class="tous-columns-modules-image">
              <img src=" https://domains.google/static/images/exports/08-24-2020/website-design-icon-3.svg" aria-hidden="true" style="height: 50%;width: 50%;">
            </div>
            <div class="tous-columns-modules-text">
              <div class="tous-columns-modules-titre"  >
                <h1>Services Techniques</h1>
              </div>
              <div class="tous-columns-modules-body">
                <p>Le laboratoire de recherche informatique
                   LRIT met à disposition une série de services
                   techniques pour faciliter la gestion des thésards
                   et favoriser leur autonomie dans la réalisation
                   de leurs travaux de thèse. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>