<!--<script src="https://kit.fontawesome.com/9044f3b38c.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg " style="background-color: #0e2332;height: 80px;">
    <div>
       <a class="navbar-brand" href="#">
        <h3> <img src="/assets/image/WhatsApp Image 2023-05-15 at 21.31.13.png" class="img-fluid">
          LRIT</h3>
      </a>
  
    </div>
        <form class="d-flex">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-right: 20px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/app/home/home.component.html">Thésard </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/app/about/about.component.html"><i class="fa-solid fa-user-xmark"></i>Archive</a>
            </li>
           

          </ul>
          <a href="/app/login/login.component.html" style="margin-bottom: 40px; margin-right: 20px;"><i class="fa-solid fa-bell"style="font-size: 30px;"></i></a>
        <a href="/app/login/login.component.html" style="margin-bottom: 40px;"><i class="fa-solid fa-right-from-bracket" style="font-size: 30px;"></i></a>
              </div>
      </form> 
    </nav>-->

<body>

    <div class="grid-container">
      
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">
              <h2> <img src="/assets/image/WhatsApp Image 2023-05-15 at 21.31.13.png" class="img-fluid">
               LRIT</h2>
            </span> 
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">dashboard</span> Thesard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">inventory_2</span> Archive 

            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->
     

   
 <!-- Main -->
 <main class="main-container">
  <div class="main-title">
    <h1 class="font-weight-bold">Article</h1>
  </div>

  <div class="main-cards">

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">el briri hafida</p>
        <button type="button" class="btn btn-warning ml-2">Voir plus </button>
      </div>
      <span class="text-primary font-weight-bold">sujet</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">el briri hafida</p>
        <button type="button" class="btn btn-warning ml-2">Voir plus </button>
      </div>
      <span class="text-primary font-weight-bold">sujet</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">el briri hafida</p>
        <button type="button" class="btn btn-warning ml-2">Voir plus </button>
      </div>
      <span class="text-primary font-weight-bold">sujet</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">el briri hafida</p>
        <button type="button" class="btn btn-warning ml-2">Voir plus </button>
      </div>
      <span class="text-primary font-weight-bold">sujet</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">el briri hafida</p>
        <button type="button" class="btn btn-warning ml-2">Voir plus </button>
      </div>
      <span class="text-primary font-weight-bold">sujet</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">el briri hafida</p>
        <button type="button" class="btn btn-warning ml-2">Voir plus </button>
      </div>
      <span class="text-primary font-weight-bold">sujet</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">el briri hafida</p>
        <button type="button" class="btn btn-warning ml-2">Voir plus </button>
      </div>
      <span class="text-primary font-weight-bold">sujet</span>
    </div>

  </div>
<!-- End Main -->
   
    

     

