<!--<div class="bs-example" style="margin-left: 84%;">
                <button type="button" class="btn btn-warning ml-2">Ajouter Article</button>
            </div>
<div class="card">
    <div class="card-header">
      <h3>Article</h3> 
    </div>
    <ul>
        <tr>
            <div class="card-body">
              <h5 class="card-title">fatima hanafi</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">voir plus </a>
            </div>
          </tr>
<tr>
    <div class="card-body">
      <h5 class="card-title">fatima hanafi</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">voir plus </a>
    </div>
  </tr>
    <tr>
        <div class="card-body">
          <h5 class="card-title">fatima hanafi</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">voir plus </a>
        </div>
      </tr>
    <tr>
      <div class="card-body">
        <h5 class="card-title">fatima hanafi</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">voir plus </a>
      </div>
    </tr>
    </ul>
  </div>-->


  <!-- Main -->
  <main class="main-container">
    <div class="main-title">
      <h1 class="font-weight-bold">Article</h1>
    </div>

    <div class="main-cards">

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">el briri hafida</p>
          <button type="button" class="btn btn-warning ml-2">Voir plus </button>
        </div>
        <span class="text-primary font-weight-bold">sujet</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">el briri hafida</p>
          <button type="button" class="btn btn-warning ml-2">Voir plus </button>
        </div>
        <span class="text-primary font-weight-bold">sujet</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">el briri hafida</p>
          <button type="button" class="btn btn-warning ml-2">Voir plus </button>
        </div>
        <span class="text-primary font-weight-bold">sujet</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">el briri hafida</p>
          <button type="button" class="btn btn-warning ml-2">Voir plus </button>
        </div>
        <span class="text-primary font-weight-bold">sujet</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">el briri hafida</p>
          <button type="button" class="btn btn-warning ml-2">Voir plus </button>
        </div>
        <span class="text-primary font-weight-bold">sujet</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">el briri hafida</p>
          <button type="button" class="btn btn-warning ml-2">Voir plus </button>
        </div>
        <span class="text-primary font-weight-bold">sujet</span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">el briri hafida</p>
          <button type="button" class="btn btn-warning ml-2">Voir plus </button>
        </div>
        <span class="text-primary font-weight-bold">sujet</span>
      </div>

    </div>
  <!-- End Main -->



<!-- Scripts -->
<!-- ApexCharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
<!-- Custom JS -->
<script src="js/scripts.js"></script>

