<div class="col">
  <div class="col">
    <div class="row">
      <div class="col" style="margin-left: 50%;">
        <div class="input-group">
          <div class="form-outline">
            <input id="search-focus" type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
          </div>
          <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="col" style="margin-left: 80%;">
        <button type="button" class="btn btn-warning ml-2">Archive</button>
      </div>
    </div>
    
  </div>
  <div class="col">
    <br>
<div>
<table class="table table-striped">
  <thead>
    <tr style="background-color: #5993bd;">
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col">Archive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col"><button type="button" class="btn btn-warning ml-2">Archive</button></th>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col"><button type="button" class="btn btn-warning ml-2">Archive</button></th>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col"><button type="button" class="btn btn-warning ml-2">Archive</button></th>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col"><button type="button" class="btn btn-warning ml-2">Archive</button></th>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col"><button type="button" class="btn btn-warning ml-2">Archive</button></th>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col"><button type="button" class="btn btn-warning ml-2">Archive</button></th>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col"><button type="button" class="btn btn-warning ml-2">Archive</button></th>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <th scope="col">Date de debut </th>
      <th scope="col">Duree</th>
      <th scope="col">these</th>
      <th scope="col"><button type="button" class="btn btn-warning ml-2">Archive</button></th>
    </tr>
  </tbody>
</table>
  </div>
</div>

